body {
  background-color: rgb(82, 184, 184);
}

h1 {
  color: white;
  border: 3px solid rgb(243, 227, 154);
  text-align: center;
}

.post {
  border-bottom: 2px dotted white;
  border-left: 2px solid white;
  padding-left: 10px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  flex-direction: row;
}

a {
  padding: 10px;
}

img {
  padding: 10px;
}

h2 {
  padding: 5px;
}
